<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">Skills</span></h1>
        </div>
    </div>


    <div class="row gutters-sm">
        <div class="col-sm-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Skills</i>Cloud Computing</h6>
              <small>Google Kubernetes Engine (GKE)</small>
              <div class="progress mb-3" style="height: 5px">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small>Network Architecture</small>
              <div class="progress mb-3" style="height: 5px">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small>Cloud Security</small>
              <div class="progress mb-3" style="height: 5px">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small>Logging - Prometheus, ELK, Stackdriver</small>
              <div class="progress mb-3" style="height: 5px">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small>Continuous Integration and Continuous Delievery (CI/CD)</small>
              <div class="progress mb-3" style="height: 5px">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
    </div>


    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3">
            <canvas id="{{ site.data.index.skills.id }}" height="500" width="500"></canvas>
        </div>
        <div class="col-lg-1"></div>
        <script>
        var ctx = document.getElementById("{{ site.data.index.skills.id }}");

        var skill_data = {
            labels: [ 
                    'Kubernetes',
                    'iOS Development',
                    'C++', 
                    'Python',
                    'R',
                    "Swift",
                    "Terraform",
                    "NLP",
                    "Neural Networks", 
                    "CI/CD",
                    "Istio Service Mesh"
                    ],
            datasets: [{
                label: 'Skills',
                data: [10, 8, 3, 8, 10, 9, 10, 6, 6, 9, 7],
                backgroundColor: [ 
                                'rgb(54, 162, 235)',
                                'rgb(201, 203, 207)',
                                'rgb(64, 172, 245)',
                                'rgb(211, 213, 217)',
                                'rgb(74, 182, 255)',
                                'rgb(221, 223, 227)',
                                'rgb(84, 192, 265)',
                                'rgb(231, 232, 237)',
                                'rgb(94, 202, 275)',
                                'rgb(241, 242, 247)',
                                'rgb(104, 212, 285)',
                                ]
            }]
        };

        var polarAreaChart = new Chart(ctx, {
            type: 'polarArea',
            data: skill_data,
            options: {}
        });


        </script>
    </div>
</div>
